.App{
    background: url(../src/assets/images/wp2741870-astrology-wallpaper.jpg),no-repeat center; 
    background-attachment: fixed;
    display: block;
    background-size: 100%;
    overflow: scroll;
    height: 100vh;
    padding: 1px;
}